<div class="banner">
  <h1>discover more abut the app</h1>
</div>

<h3>get in touch with us</h3>
<form action="">
  <input type="email" name="" id="">
  <input type="checkbox" name="" id="">
  <input type="button" value="">
</form>
